# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Use 4 spaces for the Python files
[*.py]
max_line_length = 80
# indent_size = 4

# YAML
[*.{yml,yaml}]
indent_size = 2
# indent_style = space

# The JSON files contain newlines inconsistently
# [*.json]
# indent_size = 4
# insert_final_newline = true

# Minified JavaScript files shouldn't be changed
# [**.min.js]
# indent_style = space
# insert_final_newline = false

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab

# Batch files use tabs for indentation
[*.bat]
indent_style = tab

# Shell files
[*.{sh,bash,zsh,shell}]
indent_style = tab

# Markdown
# [*.md]
# trim_trailing_whitespace = true
